main {
  display: block;
  width: calc(100%-300px);
  height: auto;
  margin-left: 300px;
  background: #fcfcfc; }
  main .rwdtop {
    display: none; }
  main article {
    max-width: 1500px;
    padding: 0px 60px;
    height: auto;
    margin: 0px auto; }
    main article .top {
      width: 100%;
      height: 80px;
      border-bottom: solid 1px #e1e4e5; }
      main article .top a {
        color: #6680b9;
        line-height: 80px;
        font-size: 17px; }
      main article .top .more {
        float: right; }
      main article .top span {
        position: relative;
        padding-left: 20px;
        font-size: 17px; }
        main article .top span::before {
          content: ">>";
          position: absolute;
          font-size: 10px;
          top: 7px;
          left: 0px; }
    main article .title h1 {
      font-size: 32px;
      padding: 30px 0px; }
    main article .title h2 {
      font-size: 28px; }
    main article .title h3 {
      font-size: 23px;
      padding: 30px 0px 25px; }
    main article .title ul {
      margin-left: 19px; }
      main article .title ul li {
        list-style-type: decimal;
        font-size: 18px;
        line-height: 24px;
        font-weight: lighter; }
    main article .request h4 {
      padding: 30px 0px 25px; }
    main article .request .codebox {
      margin-bottom: 25px; }
    main article .request table {
      text-align: left;
      border: solid 1px #e1e4e5;
      margin-bottom: 25px; }
      main article .request table th {
        font-weight: bold;
        padding-left: 20px;
        height: 40px;
        line-height: 40px;
        border: solid 1px #e1e4e5;
        border-bottom-width: 2px; }
      main article .request table tr:nth-child(even) {
        background: #f3f6f6; }
      main article .request table td {
        padding: 5px 20px;
        height: 30px;
        line-height: 24px;
        border: solid 1px #e1e4e5;
        vertical-align: middle; }
        main article .request table td:nth-child(1) {
          width: 7%; }
        main article .request table td:nth-child(2) {
          width: 23%; }
        main article .request table td:nth-child(3) {
          word-break: break-all; }
    main article .request .a {
      margin-bottom: 25px; }
    main article .request .d {
      margin-bottom: 25px; }
    main article .request .c {
      margin-bottom: 25px; }
    main article .request .i {
      margin-bottom: 200px; }
